@import './fonts.css';
@import '_mixins.scss';

:root {
    --color-white: #ffffff;
    --color-gray-1: #f8f8f8;
    --color-black: #212832;
    --color-purple: #573AE7;
    --light-purple: #e8e7ff;
    --color-orange: #EF8E4A;
    --color-pink: #DCB6F4;
}

$color-white: #ffffff;
$color-gray-1: #f8f8f8;
$color-black: #212832;
$color-purple: #573AE7;
$light-purple: #e8e7ff;
$color-orange: #EF8E4A;
$color-pink: #DCB6F4;


/* Clases de color */
.color-white {
    color: $color-white;
}

.color-black {
    color: $color-black;
}

.color-purple {
    color: $color-purple;
}

.color-orange {
    color: $color-orange;
}

.color-pink {
    color: $color-pink;
}

.font-roboto {
    font-family: 'Roboto Mono', sans-serif;
}

.font-titillium {
    font-family: 'Titillium Web', sans-serif;
}

.font-bold {
    font-weight: bold;
}
