#header-section {
    text-align: -webkit-center;
    background-color: blueviolet;
    padding-bottom: 30px;
}

header h1 {
    justify-self: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

header h3 {
    text-align: center;
    width: 60%;
}