@import "./app.scss";

#header-section {
    text-align: -webkit-center;
    padding-bottom: 50px;
    position: relative;
    background: {
        image: url("../img/bg/bg-header.png");
        size: cover; 
        position: center; 
        repeat: no-repeat;
    }
    z-index: 1;
    min-height: 100vh;
    height: fit-content;

    .mockups {
        position: relative;
    }

    h1 {
        font-weight: 800;
        letter-spacing: 2.2px;
        z-index: 1;
        justify-self: center;
        text-transform: uppercase;
    }

    @include desktop {
        h1 {
            margin-bottom: 40px;
            font-size: 5.5rem;
            line-height: 6rem;
        }

        h3 {
            text-align: center;
            z-index: 1;
            width: 70%;
            margin-bottom: 40px;
        }
    }
    
    @include tablet {
        h1 {
            margin-bottom: 40px;
            font-size: 5.5rem;
            line-height: 5rem;
        }

        h3 {
            width: 80%;
        }
    }

    @include mobile {
        h1 {
            margin-bottom: 20px;
            max-width: 80%;
            font-size: 2.8rem;
            line-height: 2.8rem;
        }

        h3 {
            width: 85%;
            font-size: 20px;
            margin-top: 20px;
        }
    }

}
