@import "./app.scss";

$bg-mockup: "../img/mockups/shopify-partners-mockup.png";

.shopify-partners-container {
    position: absolute;
    background-image: url($bg-mockup);
    background-size: cover;
    aspect-ratio: 1 / 0.45;

    .logo {
        position: absolute;
        top: 28%;
    }

    @include desktop {
        border-radius: 15px;
        height: 250px;
        right: 0;

        .logo {
            left: 25px;
            height: 55px;
        }
    }

    @include tablet {
        border-radius: 15px;
        height: 200px;

        .logo {
            left: 20px;
            height: 48px;
        }
    }

    @include mobile {
        border-radius: 5px;
        height: 140px;
        bottom: 10%;

        .logo {
            bottom: 28%;
            left: 12px;
            height: 28px;
        }
    }
}
