#projects-section {

    padding-top: 80px;
    padding-bottom: 20px;
}

#projects-section .container-fluid {
    justify-items: center;
}

#projects-section a.link-all-projects {
    margin-top: 40px;
    text-decoration: none;
}