.stage.rounded-carousel {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    overflow: hidden;
    user-select: none;
    transform-style: preserve-3d;

    .carousel-container {
        perspective: 2000px;
        width: 300px;
        height: 550px;
        position: relative;
        transform: translate(-50%, -50%);
        left: 10%;
        top: 3%;

        @media (width < 768px) {
            width: 250px;
            height: 350px;
        }

        @media (width < 480px) {
            width: 200px;
            height: 300px;
        }
    }

    .ring {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        cursor: grab;


        .img {
            width: 100%;
            height: 100%;
            background-size: cover;
            position: absolute;
            transform-origin: center;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
            transition: opacity 0.1s ease-in-out;
        }
    }
}
