@import url('app.css');

#services-section {
    background-color: aliceblue;
    padding-top: 80px;
    padding-bottom: 20px;
}

#services-section .services-grid .service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / .85; /* Hace que la altura sea igual al ancho */
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: 100%; /* Asegura que se ajuste dentro de la grilla */
}

#services-section .services-grid .service-card[data-bg] {
    background: linear-gradient(135deg, var(--colorL), var(--colorR));;
}

#services-section .services-grid .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

