@import "./app.scss";

.slider {
    background: transparent;
    height: fit-content;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    // border-radius: 10px;

    &::after {
        right: 0;
        top: 0;
       
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
        
    }

    // Para futuros efectos de gradientes
    &::before,
    &::after {
        background: linear-gradient(
            to right,
            rgba(138, 43, 226, 1) 0%,
            rgba(138, 43, 226, 0) 100%
        );
        content: "";
        height: 100%;
        position: absolute;
        width: 100px;
        z-index: 2;
    }

    .slide-track {
        display: flex;
        gap: 12px;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;

        .slide {
            margin: 0;
            border-radius: 10px;
            text-align-last: center;
            width: 280px;
        }
    }

    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-280px * 13 - 12px * 12));
            transform: translateX(calc(-280px * 13 - 12px * 12));

        }
    }

    /* Media queries */
    @mixin mobile {
        @media (width <= 575.98px) {
            @content;
        }
    }

    @mixin tablet {
        @media (576px < width < 991.98px) {
            @content;
        }
    }

    @mixin desktop {
        @media (992px <= width) {
            @content;
        }
    }




    // Media queries
    @include mobile {
        .slide-track .slide {
            width: 180px;
        }
    }

    @include desktop {
       
    }
}
