/* Tecnologías grid */
#techs-section .technologies-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se adapten a la pantalla */
    justify-content: center;
    border: blue 1px solid;
    gap: 30px;
    margin-bottom: 50px;
}

/* Items de tecnología */
#techs-section .technologies-grid .technology-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; /* Cambia el cursor al pasar sobre el item */
    color: #006080;
}

/* Tooltip configurado correctamente */
#techs-section .technologies-grid .technology-item .tooltiptext {
    visibility: hidden;
    position: absolute;
    bottom: 120%; /* Mueve el tooltip hacia arriba */
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
}

/* Flecha del tooltip */
.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Mostrar el tooltip al hacer hover */
#techs-section .technologies-grid .technology-item:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}